body {
    overflow-x: hidden;
}

.container {
    padding: 100px 20px 20px;
    height: 100%;
}

.main-card {
    left: 50%;
    transform: translate(-50%);
    max-width: 640px;
    margin-bottom: 40px;
}

.card > footer {
    border-top: 1px solid #eee;
    font-size: 14px;
    color: #777;
    text-align: center;
}

.about-content {
    padding: 20px;
    margin-bottom: 10px;
}
