@import '~picnic/src/themes/default/theme';
@import '~picnic/src/vendor/compass-breakpoint/stylesheets/breakpoint';
@import '~picnic/src/plugins/normalize/plugin';
@import '~picnic/src/plugins/generic/plugin';
@import '~picnic/src/plugins/label/plugin';
@import '~picnic/src/plugins/button/plugin';
@import '~picnic/src/plugins/input/plugin';
@import '~picnic/src/plugins/grid/plugin';
@import '~picnic/src/plugins/nav/plugin';
@import '~picnic/src/plugins/card/plugin';
@import '~picnic/src/plugins/tooltip/plugin';
@import '~picnic/src/plugins/modal/plugin';

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

nav .brand {
    transition: none;
}

nav .brand,
h3 {
    font-weight: 600;
}

.card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.05);
    border: none;
    margin-bottom: 0;
}

@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    nav {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}
