@import "~picnic/picnic.min.css";

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

nav .brand,
h3 {
    font-weight: 600;
}

.card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.05);
    border: none;
    margin-bottom: 0;
}

@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    nav {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}
