.file-date {
    font-weight: 600;
}

.container {
    padding: 70px 10px 20px 20px;
}

.card-wrapper {
    padding: 4px;
}

.card-button-container {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #eee;
}

.card-button-left {
    border-right: 1px solid #eee;
}

.card-button {
    text-align: center;
    padding: 10px;
}

.card-button:hover {
    background: #f2f2f2;
}

.file-header {
    height: 149px;
    background: url('/static/img/doc-bg.svg') no-repeat right bottom;
    background-size: 100px 95px;
    overflow-y: auto;
}

.file-header > h3 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    color: black;
}

.file-date {
    padding-top: 4px;
    font-size: 12px;
    color: #aaa;
}

.upload-wrapper {
    padding-bottom: 0;
}

.upload-card {
    height: 196px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

#file-grid {
    padding: 5px;
    position: relative;
}

#file-dropzone {
    height: 100%;
    padding: 24px 15px 15px;
    background-color: #0074d9;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

#file-dropzone:hover,
#file-dropzone:focus {
    box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.2);
}

#file-dropzone:active {
    box-shadow: inset 0 0 0 99em rgba(17, 17, 17, 0.2);
}

#upload-text {
    margin-top: 0.2em;
}

.dropzone-success {
    background: #68bd77 !important;
}

.dropzone-fail {
    background: #b72a2a !important;
}

.passthrough-pointer {
    pointer-events: none;
}

.room-header {
    margin-bottom: 10px;
}

.room-name {
    font-size: 1.5em;
}

.room-divider {
    width: 2px;
    height: 35px;
    display: inline-block;
    background: #ddd;
    margin: 0 10px -7px 10px;
}

.room-code {
    font-size: 1.5em;
    color: #777;
}

.download-all-button {
    float: right;
    margin: 0 10px;
}

.header-button-img {
    padding-top: 2px;
    height: 1em;
}

.container [data-tooltip]:after {
    font-size: 0.75em;
}

.container .tooltip-left:after,
.container .tooltip-left:before {
    margin-top: 5px;
}

@media screen and (max-width: 480px) {
    .card-button-container {
        font-size: 12px;
    }

    #upload-text {
        font-size: 14px;
    }

    .file-header > h3 {
        font-size: 16px;
        line-height: 25px !important;
    }

    .file-date {
        padding-top: 0;
    }

    .upload-card {
        height: 188px;
    }

    .room-divider {
        height: 24px;
        margin: 0 5px -5px 5px;
    }

    .room-name,
    .room-code {
        font-size: 1em;
    }

    .download-all-button {
        padding: 0 0.5em;
    }

    .header-button-img {
        padding-top: 0;
        height: 0.75em;
    }

    .container .tooltip-left:after,
    .container .tooltip-left:before {
        margin-top: 0;
    }
}

.grid-entries-enter-active,
.grid-entries-leave-active {
    transition: all 0.2s;
}

.grid-entries-enter,
.grid-entries-leave-active > .card {
    opacity: 0;
    transform: scale(0.25, 0.25);
}

.grid-entries-leave-active {
    position: absolute;
    z-index: -1;
}

.grid-entries-move {
    transition: transform 0.5s ease-in-out;
    z-index: 4;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.delete-button {
    color: #ddd;
    cursor: pointer;
    transition: all 0.25s;
}

.delete-button:hover {
    color: #ff4136;
}

.card .delete-button {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    padding: 16px 14px;
    line-height: 10px;
    font-size: 24px;
}

.cancel-button {
    box-shadow: 0 0 0 1px #eee;
}
